body {
    margin: auto;
    padding: 0 auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 auto;
}

header .headerBox1 {
    margin: auto;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .headerBox1 div {
    flex-basis: 30%;
    padding: 5px;
}

.headerBox1_icon ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    background-color: white;
    border-radius: 20px;
}

.headerBox1_icon ul li a {
    text-decoration: none;
}

.instagramme {
    position: relative;
    left: 3%;
}

.youtube {
    position: relative;
    left: 5%;
}

.headerBox1_titre {
    text-align: center;
}

.headerBox1_titre h1 {
    color: white;
}

.headerBox1_icon_recherche p {
    text-align: right;
    padding-right: 20px;
}

.headerBox1_icon_recherche p a {
    text-decoration: none;
}

header .headerBox2 {
    text-align: center;
    padding: 2px;

}

header .headerBox2 ul {
    text-align: center;
    list-style-type: none;
}

header .headerBox2 ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

header .headerBox2 ul li a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    transition: ease-in-out all 0.5s;
}

header .headerBox2 ul li a:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

main {
    margin: auto;
    padding: 0 auto;
    background-color: gray;
}

.splide__slide {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.splide__slide div {
    flex-basis: 47%;
    height: 500px;
}

.main_avatar {
    text-align: center;
}

.main_avatar img {
    width: 100%;
    height: 100%;
}

.main_contenu {
    padding: 0 auto;
}

.main_contenu h2 {
    color: white;
    font-size: 42px;
    padding-top: 80px;
}

.bandana {
    color: red;
}

.main_contenu p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 180px;
}

.barre {
    color: red;
    padding-left: 10px;
    position: relative;
    bottom: 7px;
}

section {
   /* border: 1px solid gray;*/
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
    margin-bottom: 200px;
}

section h3 {
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
}

.sectionBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    bottom: 50px;
}
.sectionBox div {
    flex-basis: 33%;
}
.sectionBox_child {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sectionBox_child div{
    flex-basis: 42%;
    box-sizing: content-box;
}
.sectionBox_child_fondRed{
    background-color: red;
    padding: 8px;
}
.sectionBox_child_fondBlack{
    background-color: black;
    padding: 8px;
    margin-bottom: 0px;
}
.sectionBox_child div img {
    width: 100%;
    height: 100%;
}
.sectionBox_child div p{
    color: white;
    font-style: oblique;
    font-weight: bold;
}












@media screen and (max-width:1100px){
    .sectionBox div {
        flex-basis: 46%;
    }
}

@media screen and (max-width:750px){
.splide__slide div{
    flex-basis: 100%;
}
.main_contenu{
    padding: 50px;
}
.main_contenu h2 {
    color: white;
    font-size: 42px;
    padding-top: 0px;
}
.main_contenu p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
}
.sectionBox div {
    flex-basis: 95%;
}
.sectionBox_child div{
    flex-basis: 100%;
}
.sectionBox_child div img{
    height: 250px;
}
.sectionBox_child_fondBlack{
    position: relative;
    bottom: 5px;
}
}

@media screen and (max-width:500px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    .headerBox1_icon ul {
        text-align: center;
    }

    .instagramme {
        position: relative;
        left: 0%;
    }

    .youtube {
        position: relative;
        left: 0%;
    }

    .headerBox1_icon_recherche {
        display: none;
    }
}