body {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************en-tête et titre principal****************************/
header {
    flex-basis: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #64a9e2), url("images/surface-S_YOuAUMm2o-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************************************gestion du menu**********************************/
.open_menu {
    float: right;
    cursor: pointer;
    padding: 10px;
    transition: ease 0.5s;
}

.open_menu:hover {
    padding: 15px;
    transition: ease 0.5s;
}

.close_menu_js_effet {
    display: none;
    transition: 0.5s;
}

nav {
    position: fixed;
    height: 100%;
    width: 300px;
    left: -300px;
   /* background-color: rgba(141, 141, 141, 0.6);*/
    background-color:#0676d1; 
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.navbarr_Js {
    left: 0px;
    transition: ease-in-out 0.5s;
}

nav ul {
    padding-top: 40px;
    position: relative;
    right: 25px;
}

nav ul li {
    list-style-type: none;
    padding-top: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: ease 0.5s;
}

nav ul li a:hover {
    font-weight: bold;
    transition: ease 0.5s;
}

.close_menu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    transition: ease 0.5s;
}

.close_menu:hover {
    font-size: 35px;
    transition: ease 0.5s;
}

header h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Broadway;
    padding-top: 80px;
}

header p {
    text-align: center;
    color: white;
    font-size: large;
    font-family: Lucida Handwriting;
}

.header_links {
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
}

.header_links li {
    display: inline-block;
    padding: 10px;
}

.header_links li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    transition: ease-in-out 0.5s;
}

.header_links li a:hover {
    background-color: white;
    letter-spacing: 2px;
    transition: ease-in-out 0.5s;
    color: #0676d1;
}

.banière_titre_mission {
    flex-basis: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.banière_titre_mission h4 {
    color: #0676d1;
}

.banière_titre_mission h2 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/**********************************************premier bloc après header**********************************/
main {
    flex-basis: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main div {
    flex-basis: 40%;
}

.banière_service_contenu {
    padding: 10px;
}

.banière_service_contenu h3 {
    color: #0676d1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banière_service_contenu svg {
    float: left;
}

.banière_service_contenu p {
    padding-left: 30px;
}

.banière_service_background {
    background: linear-gradient(rgba(0, 0, 0, 0.2), #64a9e2), url("images/krakenimages-376KN_ISplE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    animation: backgrondAnim 3s alternate infinite;
    transition: ease-in-out 0.5s;
}

@keyframes backgrondAnim {
    form {
        background: linear-gradient(rgba(0, 0, 0, 0.2), #64a9e2), url("images/krakenimages-376KN_ISplE-unsplash.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        transition: 0.5s;
    }

    to {
        background: linear-gradient(rgba(0, 0, 0, 0.2), #64a9e2), url("images/surface-S_YOuAUMm2o-unsplash.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
        transition: 0.5s;
    }
}

.banière_service_background h3 {
    color: white;
    font-size: 25px;
    position: relative;
    top: 150px;
    font-family: Lucida Handwriting;
}

/***************************************section***********************/
section {
    flex-basis: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgb(241, 224, 191);
    padding: 20px;
}

section h4,
h2 {
    text-align: center;
}

section h4 {
    color: #0676d1;
}

section h2 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.master_bloc_section {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

.master_bloc_section div {
    flex-basis: 40%;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    padding: 25px;

}

.master_bloc_section div h3 {
    color: #0676d1;
    font-family: Arial, Helvetica, sans-serif;

}

.master_bloc_section div svg {
    width: 50px;
}

.master_bloc_section div p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}


/**********************************article contentant les blocs témoignage****************************/
article {
    flex-basis: 100%;
    margin-bottom: 50px;
}

article h2,
h4 {
    text-align: center;
}

article h4 {
    color: #0676d1;


}

article h2 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article_bloc_temoignage {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article_bloc_temoignage div {
    flex-basis: 25%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #1b8fee;
}

.article_bloc_temoignage_div_js {
    position: relative;
    bottom: 20px;
    transition: 0.5s;
}

.article_bloc_temoignage div img {
    width: 50px;
    float: left;
}

.article_bloc_temoignage div h5 {
    position: relative;
    bottom: 15px;
    left: 15px;
}

.article_bloc_temoignage div svg {
    padding-left: 20px;
    cursor: pointer;
}

/**********************************footer/ pied de page**************************************/
footer {
    margin-top: 50px;
    flex-basis: 100%;
    padding: 20px;
    background-color: rgb(241, 224, 191);
}

footer h4 {
    color: #0676d1;
    text-align: center;

}

footer h2 {
    font-size: 35px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer_bloc {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_bloc div {
    flex-basis: 25%;
}

.footer_bloc a {
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

.footer_bloc a:hover {
    letter-spacing: 1px;
    transition: ease 0.5s;
}

.footer_bloc div p {
    font-size: small;
    font-weight: bold;
}

.footer_bloc .right_side {
    text-align: right;
}

.Copyright {
    text-align: center;
    font-size: small;
}

@media screen and (max-width:900px) {
    header {
        height: 400px;
    }

    .header_links li {
        display: none;
    }

    main {
        margin-top: 30px;
        padding: 10px;
        margin-top: 0px;
    }

    main div {
        flex-basis: 90%;
        margin-top: 30px;

    }

    .banière_service_background {
        height: 400px;
        padding: 5px;
    }

    section {
        margin-top: 100px;
    }

    .master_bloc_section {
        width: 100%;
        padding: 0px;
        justify-content: center;
    }

    .master_bloc_section div {
        flex-basis: 85%;
    }

    .article_bloc_temoignage {
        justify-content: center
    }

    .article_bloc_temoignage div {
        flex-basis: 70%;
        margin: 20px;
    }

    .article_bloc_temoignage_div_js {
        position: relative;
        bottom: 0px;
    }

    .footer_bloc {
        width: 100%;
        padding: 10px;
    }

    .footer_bloc div {
        flex-basis: 100%;
    }

    .footer_bloc .right_side {
        text-align: left;
    }
}