body {
    margin: auto;
    background-color: white;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/*****************en-tête et titre principal****************************/
header {
    margin-bottom: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), #64a9e2), url("images/krakenimages-376KN_ISplE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.navigation {
    background-color: #0676d1;
    padding: 2px;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 7px 0px 7px 30px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.navigation ul li a:hover {
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

/*****************************************gestion du menu**********************************/

.open_menu {
    cursor: pointer;
    padding: 10px;
    transition: ease 0.5s;
    display: none;
}

.open_menu i {
    font-size: 30px;
}

.open_menu:hover {
    padding: 15px;
    transition: ease 0.5s;
}

.close_menu_js_effet {
    display: none;
    transition: 0.5s;
}

nav {
    position: fixed;
    height: 100%;
    width: 300px;
    left: -300px;
    background-color: #0676d1;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.navbarr_Js {
    left: 0px;
    transition: ease-in-out 0.5s;
}

nav ul {
    padding-top: 40px;
    position: relative;
    right: 25px;
}

nav ul li {
    list-style-type: none;
    padding-top: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: ease 0.5s;
}

nav ul li a:hover {
    font-weight: bold;
    transition: ease 0.5s;
}

.close_menu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    transition: ease 0.5s;
}

.close_menu:hover {
    font-size: 35px;
    transition: ease 0.5s;
}

/*****************************socialMedias***********************************************/
.socialMedias {
    background-color: white;
    padding: 5px;
}

.socialMedias ul {
    text-align: right;
    list-style-type: none;
    padding-right: 20px;
}

.socialMedias ul li {
    display: inline-block;
    padding-right: 50px;
}

.socialMedias ul li a {
    text-decoration: none;
    color: #0676d1;
}

.socialMedias ul li a i {
    border-radius: 5px;
    transition: 0.5s;
}

.socialMedias ul li a i:hover {
    padding: 5px;
    background-color: #0676d1;
    color: white;
    transition: 0.5s;
}

header h1 {
    text-align: center;
    font-size: 100px;
    color: white;

}

header p {
    text-align: center;
    color: white;
    font-size: large;
    word-wrap: break-word;
}

.header_links {
    text-align: center;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 50px;
}

.header_links li {
    display: inline-block;
    padding: 10px;
}

.header_links li a {
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    color: inherit;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
}

.header_links li a:hover {
    background-color: white;
    letter-spacing: 2px;
    transition: ease-in-out 0.5s;
    color: #0676d1;
}

/*****************************baniere misssion******************/
.banière_titre_mission {
    flex-basis: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.banière_titre_mission h4 {
    color: #0676d1;
    font-size: 30px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.banière_titre_mission h2 {
    font-size: 35px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

/**********************************************premier bloc après header**********************************/
main {
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;

}

/**********************************************premier bloc après header**********************************/

main div {
    flex-basis: 27%;
    padding: 20px;
    background-color: white;
    margin-top: 30px;
    box-shadow: 2px 2px 15px gainsboro;
    transition: 0.5s;
}

main div h3 {
    color: #0676d1;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 500;
}

main div p {
    text-align: justify;
    font-weight: 100;
}

.mainColor {
    background-color: #0676d1;
    color: white;
}

.mainColor h3 {
    color: white;
}

main div:hover {
    background-color: gray;
    transition: 0.5s;
    color: white;
}

/***************************************section***********************/
section {
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: #0676d1;
    color: white;
    padding: 20px;
    transition: 0.5s;
}

section:hover {
    background-color: gray;
    transition: 0.5s;
}

section h4,
h2 {
    text-align: center;
}

section h4 {
    color: white;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

section h2 {
    font-size: 35px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.splide__track {
    margin-bottom: 50px;
}

.splide__slide {
    padding: 25px
}

.splide__slide h3 {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth"500;
}

.splide__slide p {
    text-align: justify;
}

/**********************************article contentant les blocs témoignage****************************/
article {
    margin-bottom: 150px;
}

article h2,
h4 {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

article h4 {
    color: #0676d1;
}

article h2 {
    font-size: 35px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.article_bloc_temoignage {
    margin: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article_bloc_temoignage div {
    flex-basis: 27%;
    padding: 20px;
    box-shadow: 2px 2px 15px gainsboro;
}

.article_bloc_temoignage_div_js {
    position: relative;
    bottom: 20px;
    transition: 0.5s;
    background-color: whitesmoke;
}

.article_bloc_temoignage div img {
    width: 50px;
    float: left;
}

.article_bloc_temoignage div h5 {
    position: relative;
    bottom: 15px;
    left: 15px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.article_bloc_temoignage div ul li {
    list-style-type: none;
    display: inline-block
}

.article_bloc_temoignage div i {
    padding-left: 20px;
    cursor: pointer;
    color: #0676d1;
}

/**********************************footer/ pied de page**************************************/
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #0676d1;
    color: white;
}

footer h4 {
    color: white;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth"500;

}

footer h2 {
    font-size: 35px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.footer_bloc {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_bloc div {
    flex-basis: 25%;
}

.footer_bloc div h3 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.footer_bloc a {
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.footer_bloc a:hover {
    letter-spacing: 1px;
    transition: ease 0.5s;
}

.footer_bloc div p {
    font-size: small;
    font-weight: bold;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

.footer_bloc .right_side {
    text-align: right;
}

.Copyright {
    text-align: center;
    font-size: small;
    color: white;
    font-weight: bold;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"500;
}

@media screen and (max-width:1100px) {
    main div {
        flex-basis: 40%;
    }
    .article_bloc_temoignage div {
        flex-basis: 24%;
    }
}

@media screen and (max-width:750px) {
    .navigation ul {
        display: none;
    }

    .open_menu {
        display: block;
    }

    .socialMedias ul {
        padding-right: 10px;
    }

    .socialMedias ul li {
        padding-right: 20px;
    }

    header h1 {
        font-size: 50px;
    }

    main {
        margin-top: 30px;
        padding: 10px;

    }

    main div {
        flex-basis: 100%;
    }

    section {
        margin-top: 100px;
    }


    .article_bloc_temoignage {
        justify-content: center
    }

    .article_bloc_temoignage div {
        flex-basis: 100%;
        margin: 20px;
    }

    .article_bloc_temoignage_div_js {
        position: relative;
        bottom: 0px;
    }

    .footer_bloc {
        width: 100%;
        padding: 10px;
    }

    .footer_bloc div {
        flex-basis: 100%;
    }

    .footer_bloc .right_side {
        text-align: left;
    }
}

@media screen and (max-width:440px) {
    .socialMedias ul li {
        padding-right: 15px;
    }

}